.vim/.netrwhist
.ipython/profile_default/db
.ipython/profile_default/history.sqlite
.ipython/profile_default/log
.ipython/profile_default/pid
.ipython/profile_default/security
.ipython/profile_default/startup
