# .gitconfig - Alan Christopher Thomas
# http://alanchristopherthomas.com/

[user]
    name = Alan Christopher Thomas
    email = alan.christopher.thomas@gmail.com
[color]
    ui = auto
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph
