[user]
    name = Alan Christopher Thomas
    email = alan.thomas@liquid9.tv
[color]
    ui = auto
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph
