*.pyc
.vim/.netrwhist
.vim/.VimballRecord
.firefox_profile/.parentlock
.firefox_profile/Cache/*
.firefox_profile/*.mfasl
.firefox_profile/cert8.db
.firefox_profile/compatibility.ini
.firefox_profile/compreg.dat
.firefox_profile/cookies.sqlite
.firefox_profile/cookies.sqlite-journal
.firefox_profile/extensions.cache
.firefox_profile/extensions.ini
.firefox_profile/extensions.rdf
.firefox_profile/content-prefs.sqlite
.firefox_profile/bookmarkbackups/*
.firefox_profile/downloads.sqlite
.firefox_profile/formhistory.sqlite
.firefox_profile/key3.db
.firefox_profile/localstore.rdf
.firefox_profile/permissions.sqlite
.firefox_profile/places.sqlite
.firefox_profile/places.sqlite-journal
.firefox_profile/search.json
.firefox_profile/search.sqlite
.firefox_profile/secmod.db
.firefox_profile/signons.sqlite
.firefox_profile/urlclassifier3.sqlite
.firefox_profile/urlclassifierkey3.txt
.firefox_profile/xpti.dat
.firefox_profile/lock
.firefox_profile/sessionstore.js
.firefox_profile/mimeTypes.rdf
.firefox_profile/pluginreg.dat
.firefox_profile/OfflineCache/*
